@tailwind base;
@import "preflight.css";
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  @apply text-6xl font-semibold;
}

h2 {
  @apply text-4xl font-light;
}

h3 {
  @apply text-2xl font-medium;
}
h4 {
  @apply text-lg font-semibold;
}

input.no-arrows::-webkit-outer-spin-button,
input.no-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input.no-arrows[type="number"] {
  -moz-appearance: textfield;
}
